<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>

    <script defer src="/assets/js/app.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal flex flex-col h-screen justify-between">
    <header>
        {% include "nav" %}
    </header>

    <main class="mb-auto pb-8">
        {% block content %}{% endblock content %}
    </main>

    <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6">
         {% include "footer" %}
    </footer>
</body>
</html>